.txt-month {
  margin-bottom: 1rem;
  font-size: var(--font-2xl);
  font-weight: 400;
  color: var(--wedding_month);
}

.txt-wedding_day {
  font-size: var(--font-reg);
  font-weight: 400;
  color: var(--darkgray);
}
