.txt-month {
  margin-bottom: 1rem;
  font-size: var(--font-2xl);
  font-weight: 400;
  color: var(--blue1);
}

.txt-wedding_day {
  font-size: var(--font-sm);
  font-weight: 400;
  color: var(--darkgray);
}
