.txt-month {
  margin-bottom: 1rem;
  font-size: var(--font-3xl);
  font-weight: bold;
  color: var(--blue1);
}

.txt-wedding_day {
  font-size: var(--font-reg);
  font-weight: 400;
  color: var(--darkgray);
}
