.txt-intro {
  white-space: pre-wrap;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.divided-bar {
  margin: 10px 0;
}

.txt-invitation {
  white-space: pre-wrap;
  text-align: center;
  line-height: 1.6;
  margin-top: 10px;
  margin-bottom: 20px;
}

.wrap-name {
  display: flex;
  line-height: 1.7;
  font-size: var(--font-rg);
  letter-spacing: 1px;
  margin: 10px 0;

  .txt-name {
    font-weight: bold;
    color: var(--darkgray);
  }

  .wrap-parents {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .divide-dot {
      margin: 0 5px;
    }
  }

  .wrap-relationship {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .wrap-child {
      display: flex;
      align-items: center;
      color: var(--darkgray);

      span {
        margin-right: 5px;
      }

      .txt-child {
        flex: 1;
        text-align: center;
      }
    }
  }

  .wrap-groom-bride {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: var(--font-lg);

    .txt-groom,
    .txt-bride {
      color: var(--black);
    }
  }
}

.wrap-image {
  margin: 35px 0 10px;

  img {
    width: 100%;
    object-fit: cover;
  }
}
