@import '@scss/variable.scss';

.container {
  margin: 0 24px;

  .wrap-comments {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    padding: 20px 24px;
    transition: box-shadow 0.6s ease;
    border-radius: 10px;

    &.view-more {
      height: 60vh;
      padding-right: 10px;
      overflow-y: scroll;
      border: 1px solid var(--skyblue);
      box-shadow: var(--card-shadow);
      scrollbar-width: 10px;
      scrollbar-color: var(--skyblue);

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--skyblue);
        border-radius: 5px;
        background-clip: padding-box;
        border: 2px solid transparent;
      }
    }
  }

  .wrap-btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 24px;
    margin-top: 20px;

    &.none-view-more {
      justify-content: center;
    }

    .btn-view-more {
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: var(--white);
    }
  }

  .btn-submit {
    border: 1px solid var(--lightgray);
    border-radius: 8px;
    height: 36px;
    padding: 0 20px;
  }
}

.txt-error {
  color: var(--warn);
  font-size: var(--font-xs);
  text-align: center;
}
