.wrap-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 24px;

  .txt-wedding_hall {
    font-weight: bold;
  }
  .txt-address {
    text-align: center;
    margin: 10px 5px;
    font-size: var(--font-xs);
    white-space: pre-wrap;
  }
}

.btn-map-modal {
  margin: 0 auto;
  margin-bottom: 30px;
  height: 36px;
  padding: 8px 12px;
  border: 1px solid var(--lightgray);
  border-radius: 8px;
  vertical-align: center;
  background-color: white;
  font-size: var(--font-sm);
}

.wrap-btns {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0 24px;

  .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 48px;
      border-radius: 10px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

      img {
        width: 100%;
        height: 100%;
        margin: 0 20px;
        border-radius: 10px;
        overflow: hidden;
      }
    }

    .txt-appName {
      margin-top: 8px;
      font-size: var(--font-xs);
    }
  }
}

.wedding_hall_map-img {
  width: 100%;
  margin: 0 auto;
}

.wrap-transportation {
  width: 90%;
  margin-top: 30px;

  .wrap-vehicle {
    margin-top: 10px;
    padding: 20px 0;
    line-height: 1.8;
    border-top: 1px solid var(--lightgray);

    .txt-vehicle {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .txt-way2come {
      font-size: var(--font-xs);

      .subway-line {
        color: var(--white);
        padding: 4px 7px;
        border-radius: 15px;
        margin-right: 5px;

        &:first-child {
          background-color: #d31145;
        }
        &:nth-child(2) {
          background-color: #0054a6;
        }
      }

      .wrap-bus {
        margin-bottom: 10px;

        .txt-bus-direction {
          background-color: var(--darkgray);
          color: var(--white);
          padding: 4px 7px;
          border-radius: 15px;
        }
      }

      .wrap-car {
        margin-bottom: 10px;

        .txt-way {
          background-color: var(--darkgray);
          color: var(--white);
          padding: 4px 7px;
          border-radius: 15px;
        }
      }
    }

    .wrap-parking {
      .txt-parking {
        font-size: var(--font-xs);
      }
    }
  }
}
