.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 15px 24px;
  border-top: 1px solid var(--lightgray);
  background-color: var(--white);

  .wrap-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    width: 100%;

    .txt-name {
      font-size: var(--font-sm);
      font-weight: bold;
      margin-bottom: 10px;
    }

    .wrap-account {
      font-size: var(--font-xs);

      .txt-bank {
        margin-right: 5px;
      }
    }
  }

  .wrap-btn {
    position: absolute;
    top: 23px;
    right: 20px;
    display: flex;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.75rem;
      height: 1.75rem;
      border-radius: 100%;
      margin-left: 1rem;
      box-shadow: var(--box-shadow);

      &.btn-clipboard {
        background-color: var(--blue2);

        .icon-clipboard {
          width: 1rem;
          height: 1rem;
          fill: var(--blue2);
        }
      }

      &.bride {
        background-color: var(--bride);

        .icon-clipboard {
          fill: var(--bride);
        }
      }

      &.btn-kakaoPay {
        background-color: #ffeb00;

        a {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .icon-kakaoPay {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
