@import '@scss/variable.scss';

.container {
  min-width: $min-width;
  max-width: $max-width;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--white);
  touch-action: pan-y;
  overflow: hidden;
}
