@charset "utf-8";

@import '@scss/font.scss';
@import '@scss/reset.scss';
@import '@scss/variable.scss';

:root {
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-reg: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  --font-3xl: 1.75rem;

  --black: #444;
  --white: #fafafa;
  --gray: #9d9d9d;
  --lightgray: #e8e8e8;
  --darkgray: #535962;

  --background_color: #efefef;
  --dimmed: rgba(0, 0, 0, 0.9);
  --dimmed-light: rgba(55, 55, 68, 0.82);
  --box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
  --card-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.04);

  --warn: #b8001f;
  --success: #347928;
  --beige: #f5eee6;

  --blue1: #5ca0d3;
  --blue2: #9eb8d9;
  --skyblue: #eef5ff;

  --groom: #7c93c3;
  --bride: #e6a4b4;

  --point: #e6a4b4;
}

html {
  font-size: 20px;
}

@media (max-width: $max-width) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 415px) {
  html {
    font-size: 19px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 390px) {
  html {
    font-size: 17px;
  }
}

@media (max-width: $min-width) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: 'GangwonEduModu', sans-serif;
  background-color: #efefef;
  max-width: 100%;
  min-height: 100vh;
  font-size: var(--font-reg);
}

/* react-day-picker */

.rdp-root {
  display: flex;
  justify-content: center;

  --rdp-font-family: 'GangwonEduModu', sans-serif;
  --rdp-accent-color: var(--blue2);
  --rdp-accent-background-color: var(--point);
  --rdp-today-color: none;
  --rdp-selected-font: bold var(--font-sm) 'GangwonEduModu', sans-serif;
  --rdp-selected-border: none;
  --rdp-day-font: 400 var(--font-sm) 'GangwonEduModu', sans-serif;
  --rdp-weekday-font: bold var(--font-reg) 'GangwonEduModu', sans-serif;
  --rdp-weekday-opacity: 0.55;
  --rdp-day-width: 1.8rem;
  --rdp-day-height: 1.8rem;
  --rdp-weekday-padding: 0.5rem 0 1rem;

  .rdp-month {
    padding-bottom: 1.8rem;

    .rdp-month_caption {
      display: none;
    }

    .rdp-weekday:first-child {
      color: var(--point);
    }

    .rdp-day {
      pointer-events: none;

      &:first-child {
        color: var(--point);
      }

      .rdp-day_button {
        margin: 0.3rem 0.2rem;
        padding-top: 3px;
      }
    }

    .rdp-selected .rdp-day_button {
      width: 1.9rem;
      height: 1.9rem;
      background-color: var(--rdp-accent-background-color);
      color: var(--white);
    }
  }
}
