.container {
  position: relative;
  width: 80%;
  background-color: var(--background-color);
  margin: 0 auto 20px;
  border-radius: 8px;

  &.isToggled {
    box-shadow: var(--box-shadow);
  }

  &.groom {
    background-color: var(--skyblue);
    border: 1px solid var(--groom);
  }

  &.bride {
    background-color: var(--pink);
    border: 1px solid var(--bride);
  }

  .wrap-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    .txt-label {
      flex-grow: 1;
      text-align: center;
    }

    .btn-view-more {
      display: flex;
      justify-content: center;
      margin-right: 24px;
    }
  }

  .wrap-content {
    max-height: 0;
    opacity: 0;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    transition: all 0.3s ease;

    &.isToggled {
      opacity: 1;
    }
  }
}
