@import '@scss/variable.scss';

.container {
  position: relative;
  min-width: $min-width;
  max-width: $max-width;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 60px 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $modal-zindex;
}
