@import '@scss/variable.scss';

.icon-close {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 20px;
  height: 20px;
  fill: var(--skyblue);
  z-index: $close-zindex;

  :hover {
    cursor: pointer;
  }
}
